<h1>My Wishlist</h1>
<main>
	<div class="basket-labels">
		<ul>
			<li class="item item-heading">Item</li>
			<li class="pricehead">Price</li>
		</ul>
	</div>
	<div class="basket-product">
		<div class="item">
			<div class="product-image">
				<img src="../../assets/a1.jpg" alt="iphone" class="product-frame" />
			</div>
			<div class="product-details">
				<h2><strong>Apple iPhone 13 (64 GB)</strong></h2>
			</div>
		</div>
		<div class="price">&#8377;89,999</div>

		<div class="remove">
			<button>Remove</button>
		</div>
	</div>
	<div class="basket-product">
		<div class="item">
			<div class="product-image">
				<img
					src="../../assets/a2.jpg"
					alt="Placholder Image 2"
					class="product-frame"
				/>
			</div>
			<div class="product-details">
				<h2><strong>Apple iPhone 13 (64 GB)</strong></h2>
			</div>
		</div>
		<div class="price">&#8377;89,999</div>

		<div class="remove">
			<button>Remove</button>
		</div>
	</div>
</main>
