<link
	rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
/>
<div class="wholebody">    
    <div class="container">
        <div class="productimage">
            <img src="../../assets/a1.jpg" alt="product image"/>
        </div>
        <div class="item">
            <h2>Apple iPhone 13 (64 GB)</h2><br>
            <p>Price: &#8377; 89,999</p>
        </div>
        <div class="date">
            <h3>Delivered On Nov 28, 2021 </h3>        
        </div>
    </div>
    <div class="container">
        <div class="productimage">
            <img src="../../assets/a1.jpg" alt="product image"/>
        </div>
        <div class="item">
            <h2>Apple iPhone 13 (64 GB)</h2><br>
            <p>Price: &#8377; 89,999</p>
        </div>
        <div class="date">
            <h3>Delivered On Nov 28, 2021 </h3>        
        </div>
    </div>
</div>