*{
    font-family: sans-serif;
    margin: 0%;      
    
}

h1{
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-bottom: 5px solid #c6e9eb;
    color: #7895ae;
    
}

h2{
    font-size: 20px;
    font-weight:540;
    color: #4e4b4b;
}

h3{
    font-size: 20px;
    font-weight: 200;
    color: #1dd42e;
}

p{
    color: #6c6c6c;
}

.container{
    box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;  
    padding: 20px;
    margin: 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    text-align:start;    
    background-color: white;
}

.container:hover{
    box-shadow: rgba(0, 0, 0, 0.10) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

}

.productimage{    
    width: 30%;
}
.item{    
    width: 35%;
}
.date{    
    width: 35%;
}

img{
    width: 200px;  
    height: 200px;  
}
