<h5>My Cart</h5>
<div class="basket">
	<div class="basket-labels">
		<ul>
			<li class="item item-heading">Item</li>
			<li class="price">Price</li>
			<li class="quantity qnty_title">Quantity</li>
			<li class="subtotal">Subtotal</li>
		</ul>
	</div>
	<div *ngFor="let product of products" class="basket-product">
		<div class="item">
			<div class="product-image">
				<img src="{{ product[0].image }}" alt="iphone" class="product-frame" />
			</div>
			<div class="product-details">
				<h1>{{ product[0].name }}</h1>
			</div>
		</div>
		<div class="price price_content">&#8377;{{ product[0].price }}</div>
		<div class="quantity">
			<button
				class="_btn minus radius"
				(click)="removeItem(product[0].id)"
			></button>
			<input class="_column product-qty" value="{{ product[1] }}" />
			<button
				class="_btn plus radius"
				(click)="addItem(product[0].id)"
			></button>
		</div>
		<div class="subtotal price_content">
			&#8377;{{ product[2].toLocaleString() }}
		</div>
		<div class="remove">
			<button>Remove</button>
		</div>
	</div>

	<div class="basket-product">
		<div class="checkout">
			<button class="shopmore_btn btn:hover">Shop More</button>
			<button class="checkout_btn btn:hover">Checkout</button>
		</div>
		<div class="grandtotal">Total:&#8377;{{ total.toLocaleString() }}</div>
	</div>
</div>

<!-- 
    <ng-container >
<div class="container">
    <div class="card">
        <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
        <img class="empty" src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
        <h4>Your cart is empty!</h4>
        <h6>Add item to it now</h6>
        <button  routerLink="/products" class="btn btn:hover">Shop Now</button>
    </div>
</div>
</ng-container> 
-->
