<h5>My Cart</h5>
    <div class="basket">
        
        <div class="basket-labels">
          <ul>
            <li class="item item-heading">Item</li>
            <li class="price">Price</li>
            <li class="quantity qnty_title" >Quantity</li>
            <li class="subtotal">Subtotal</li>
          </ul>
        </div>
        <div class="basket-product">
          <div class="item">
            <div class="product-image">
              <img src="../../assets/a1.jpg" alt="iphone" class="product-frame">
            </div>
            <div class="product-details">
              <h1>Apple iPhone 13 (64 GB)</h1>
              
            </div>
          </div>
          <div class="price price_content">&#8377; 89,999</div>
          <div class="quantity">
            
                <button class="_btn minus radius" ></button>
                <input class="_column product-qty">
                <button class="_btn plus radius"></button>
            
          </div>
          <div class="subtotal price_content">&#8377; 89,999</div>
          <div class="remove">
            <button>Remove</button>
          </div>
        </div>
        
        <div class="basket-product">
            
            <div class="checkout">

                <button class="shopmore_btn btn:hover">Shop More</button>
                <button class="checkout_btn btn:hover">Checkout</button>
            </div>
            <div class="grandtotal">
                GrandTotal:&#8377;89,999
            </div>
        </div>
      </div>













<!-- 
    <ng-container >
<div class="container">
    <div class="card">
        <h5 class="card-title">My Cart</h5>
    </div>
    <div class="center">
        <img class="empty" src="https://rukminim1.flixcart.com/www/800/800/promos/16/05/2019/d438a32e-765a-4d8b-b4a6-520b560971e8.png?q=90" alt="">
        <h4>Your cart is empty!</h4>
        <h6>Add item to it now</h6>
        <button  routerLink="/products" class="btn btn:hover">Shop Now</button>
    </div>
</div>
</ng-container> 
-->
