<div class="container1">
	<div class="box1">
		<form #filter="ngForm" (click)="filterQ(filter.value)">
			<h1>Filters</h1>
			<hr />
			<div class="price-range">
				<h4>Price Range</h4>
				<div class="label">
					<label>
						<input
							type="radio"
							name="price"
							value="$gt : 10000, $lt : 30000"
							ngModel
							(click)="filterQ(filter.value)"
						/>Rs 10,000 - Rs 30,000
					</label>
					<label>
						<input
							type="radio"
							name="price"
							value="$gt : 30000, $lt : 50000"
							ngModel
							(click)="filterQ(filter.value)"
						/>Rs 30,000 - Rs 50,000
					</label>
					<label>
						<input
							type="radio"
							name="price"
							value="$gt : 50000, $lt : 80000"
							ngModel
							(click)="filterQ(filter.value)"
						/>Rs 50,000 - Rs 80,000
					</label>
					<label>
						<input
							type="radio"
							name="price"
							value="$gt : 80000"
							ngModel
							(click)="filterQ(filter.value)"
						/>Rs 80,000 and Above
					</label>
				</div>
			</div>
			<hr />
			<div class="brand-filter">
				<h4>Brand</h4>
				<div class="label">
					<label>
						<input
							type="checkbox"
							name="Apple"
							ngModel
							(click)="filterQ(filter.value)"
						/>Apple
					</label>
					<label>
						<input
							type="checkbox"
							name="Realme"
							ngModel
							(click)="filterQ(filter.value)"
						/>Realme
					</label>
					<label>
						<input
							type="checkbox"
							name="Samsung"
							ngModel
							(click)="filterQ(filter.value)"
						/>Samsung
					</label>
				</div>
			</div>
			<hr />
			<div class="storage">
				<h4>Storage</h4>
				<div class="label">
					<label>
						<input type="checkbox" name="storage" />256 GB & above
					</label>
					<label> <input type="checkbox" name="storage" />128 -256 GB </label>
					<label> <input type="checkbox" name="storage" />64 - 128 GB </label>
					<label> <input type="checkbox" name="storage" />32 - 64 GB </label>
					<label> <input type="checkbox" name="storage" />16 - 32 GB </label>
				</div>
			</div>
			<hr />
			<div class="ram">
				<h4>RAM</h4>
				<div class="label">
					<label> <input type="checkbox" name="RAM" />6 GB & above </label>
					<label> <input type="checkbox" name="RAM" />4 GB </label>
					<label> <input type="checkbox" name="RAM" />3 GB </label>
					<label> <input type="checkbox" name="RAM" />2 GB </label>
					<label> <input type="checkbox" name="RAM" />Less than 2 GB </label>
				</div>
			</div>
			<hr />
			<div class="battery">
				<h4>Battery</h4>
				<div class="label">
					<label>
						<input type="checkbox" name="Battery" />5000 mAh & Above
					</label>
					<label>
						<input type="checkbox" name="Battery" />4000 mAh - 5000 mAh
					</label>
					<label>
						<input type="checkbox" name="Battery" />3000 mAh - 4000 mAh
					</label>
					<label>
						<input type="checkbox" name="Battery" />2000 mAh - 3000 mAh
					</label>
					<label>
						<input type="checkbox" name="Battery" />1000 mAh - 2000 mAh
					</label>
					<label>
						<input type="checkbox" name="Battery" />Less than 1000mAh
					</label>
				</div>
			</div>
		</form>
	</div>

	<div class="box2">
		<div *ngFor="let product of products" class="container">
			<div class="main-images">
				<img src="{{ product.image }}" alt="image" id="imagebox" />
			</div>

			<div class="text">
				<p class="brand">Brand : {{ product.brand }}</p>
				<h2 class="prod-name" routerLink="/product/{{ product.id }}">
					{{ product.name }}
				</h2>
				<ul>
					<li>{{ product.rom }} GB Storage</li>
					<li>{{ product.ram }} GB RAM</li>
					<li>{{ product.battery }} mAh Battery</li>
				</ul>
			</div>

			<div class="btn">
				<p class="price">&#8377;{{ product.price.toLocaleString() }}</p>
				<button class="wishlist" (click)="addToWish(product.id)">
					Add to Wishlist
				</button>
			</div>
		</div>
	</div>
</div>
