<div class="container">
	<div class="overlay-container">
		<h1>Welcome Back!</h1>
		<p>To keep connected with us please login with your account</p>
		<button class="ghost" routerLink="../login">LOGIN</button>
	</div>
	<div class="form-container">
		<form action="#">
			<h1>Create Account</h1>
			<input type="text" placeholder="Name" required />
			<input type="email" placeholder="Email" required />
			<input type="password" placeholder="Password" required />
			<input type="password" placeholder="Confirm Password" required />
			<button>SIGN UP</button>
		</form>
	</div>
</div>
