<link
	rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css"
/>
<div class="container">
	<div class="profileimg">
		<img src="../../assets/profile1.jpg" alt="Avatar" />
	</div>
	<div *ngIf="!edit" class="personalinfo">
		<div class="data">
			<label for="name"><b>Name </b></label>
		</div>
		<input
			type="text"
			value="{{ user.name }}"
			name="name"
			id="name"
			disabled
		/><br /><br />

		<div class="data">
			<label for="address"><b>Address </b></label>
		</div>

		<input
			type="text"
			value="{{ user.address }}"
			name="address"
			id="address"
			disabled
		/><br /><br />

		<div class="data">
			<label for="mobileno"><b>Mobile No. </b></label>
		</div>

		<input
			type="number"
			value="{{ user.phone }}"
			name="mobileno"
			id="mobileno"
			disabled
		/><br /><br />

		<div class="data">
			<label for="password"><b>Password </b></label>
		</div>
		<input
			type="password"
			name="password"
			value="{{ user.password }}"
			name="password"
			id="password"
			disabled
		/><br /><br />

		<div class="data">
			<label for="email"><b>E-mail </b></label>
		</div>

		<input
			type="email"
			value="{{ user.email }}"
			name="email"
			id="email"
			disabled
		/>
		<button (click)="onEdit()">Edit</button>
	</div>
	<div *ngIf="edit" class="personalinfo">
		<form #profile="ngForm" ngNativeValidate (submit)="onSave()">
			<div class="data">
				<label for="name"><b>Name </b></label>
			</div>
			<input
				type="text"
				name="name"
				placeholder="Name"
				required
				min-length="4"
				[(ngModel)]="user.name"
			/><br /><br />

			<div class="data">
				<label for="address"><b>Address </b></label>
			</div>

			<input
				type="text"
				name="address"
				placeholder="Address"
				[(ngModel)]="user.address"
			/><br /><br />

			<div class="data">
				<label for="mobileno"><b>Mobile No. </b></label>
			</div>

			<input
				type="text"
				name="mobileno"
				placeholder="Mobile No"
				[(ngModel)]="user.phone"
			/><br /><br />

			<div class="data">
				<label for="password"><b>Password </b></label>
			</div>
			<input
				type="password"
				name="password"
				placeholder="Password"
				required
				minlength="8"
				[(ngModel)]="user.name"
			/><br /><br />

			<div class="data">
				<label for="email"><b>E-mail </b></label>
			</div>

			<input
				type="email"
				name="email"
				placeholder="Email"
				[(ngModel)]="user.email"
				required
			/>
			<button type="submit">Save</button>
		</form>
	</div>
</div>
