<div class="main">
    <div class="poster">
        <img class="posimg" src="../../assets/poster.jpg" alt="poster">
    </div>
    
    <div class="brand">
        <h2>Brands</h2>   
        <div class="blist">                
                <div class="apple">
                    <img class="bimg" src="../../assets/apple.jpg" alt="apple">
                </div>
                <div class="samsung">
                    <img class="bimg" src="../../assets/samsung.jpg" alt="samsung">
                </div>
                <div class="oneplus">
                    <img class="bimg" src="../../assets/oneplus.jpg" alt="oneplus">
                </div>            
                <div class="realme">
                    <img class="bimg" src="../../assets/realme.jpg" alt="realme">
                </div>
                <div class="redmi">
                    <img class="bimg" src="../../assets/redmi.jpg" alt="redmi">
                </div>
                <div class="iqoo">
                    <img class="bimg" src="../../assets/iqoo.jpg" alt="iqoo">
                </div>           
        </div> 
    </div>
    <div class="newarrival">
        <h2>Newest Arrival!</h2>
        <div class="grid-container">
            <div class="container">
                <img class="pimg" src="../../assets/a1.jpg" alt="product image">
                <h3>Apple iPhone 13 (64 GB)</h3>
                <p style="color: #1dd42e;">Brand : Apple</p>
                <p style="font-weight: bold;">&#8377; 89,999</p>
                <p>
                    8 GB RAM | 512 GB Storage | 12MP Front Camera | 
                    A14 Bionic Chip | Ceramic Shield | IP68 Water Resistance | 
                    OLED Display | 4K Dolby Vision HDR Recording
                </p>
                <button class="buy">Buy Now</button>
            </div>
            <div class="container">
                <img class="pimg" src="../../assets/a1.jpg" alt="product image">
                <h3>Apple iPhone 13 (64 GB)</h3>
                <p style="color: #1dd42e;">Brand : Apple</p>
                <p style="font-weight: bold;">&#8377; 89,999</p>
                <p>
                    8 GB RAM | 512 GB Storage | 12MP Front Camera | A14 Bionic Chip | Ceramic Shield | IP68 Water Resistance | 
                    OLED Display | 4K Dolby Vision HDR Recording
                </p>
                <button class="buy">Buy Now</button>
            </div>
            <div class="container">
                <img class="pimg" src="../../assets/a1.jpg" alt="product image">
                <h3>Apple iPhone 13 (64 GB)</h3>
                <p style="color: #1dd42e;">Brand : Apple</p>
                <p style="font-weight: bold;">&#8377; 89,999</p>
                <p>
                    8 GB RAM | 512 GB Storage | 12MP Front Camera | A14 Bionic Chip | Ceramic Shield | IP68 Water Resistance | 
                    OLED Display | 4K Dolby Vision HDR Recording
                </p>
                <button class="buy">Buy Now</button>
            </div>
            <div class="container">
                <img class="pimg" src="../../assets/a1.jpg" alt="product image">
                <h3>Apple iPhone 13 (64 GB)</h3>
                <p style="color: #1dd42e;">Brand : Apple</p>
                <p style="font-weight: bold;">&#8377; 89,999</p>
                <p>
                    8 GB RAM | 512 GB Storage | 12MP Front Camera | A14 Bionic Chip | Ceramic Shield | IP68 Water Resistance | 
                    OLED Display | 4K Dolby Vision HDR Recording
                </p>
                <button class="buy">Buy Now</button>
            </div>
            <div class="container">
                <img class="pimg" src="../../assets/a1.jpg" alt="product image">
                <h3>Apple iPhone 13 (64 GB)</h3>
                <p style="color: #1dd42e;">Brand : Apple</p>
                <p style="font-weight: bold;">&#8377; 89,999</p>
                <p>
                    8 GB RAM | 512 GB Storage | 12MP Front Camera | A14 Bionic Chip | Ceramic Shield | IP68 Water Resistance | 
                    OLED Display | 4K Dolby Vision HDR Recording
                </p>
                <button class="buy">Buy Now</button>
            </div>
            <div class="container">
                <img class="pimg" src="../../assets/a1.jpg" alt="product image">
                <h3>Apple iPhone 13 (64 GB)</h3>
                <p style="color: #1dd42e;">Brand : Apple</p>
                <p style="font-weight: bold;">&#8377; 89,999</p>
                <p>
                    8 GB RAM | 512 GB Storage | 12MP Front Camera | A14 Bionic Chip | Ceramic Shield | IP68 Water Resistance | 
                    OLED Display | 4K Dolby Vision HDR Recording
                </p>
                <button class="buy">Buy Now</button>
            </div>
        </div>
    </div>
    <div class="webinfo">
        <h2>Why Us!</h2>
        <div class="why">
            <div class="reason">
                <img class="rimg" src="../../assets/easyprocess.jpg" alt="reasons">
                <h1>User-friendly interface</h1><br>
                <p>With our simple UI you can have a pleasant shopping experience.</p>
            </div>
            <div class="reason">
                <img class="rimg" style="border: 5px solid #4c6881;" src="../../assets/productsearch.jpg" alt="reasons">
                <h1>Product Searching</h1><br>
                <p>You can easily search for your desired product.</p>
            </div>
            <div class="reason">
                <img class="rimg" style="border: 5px solid #1dd42e;" src="../../assets/pricecompare.jpg" alt="reasons">
                <h1>Save Money</h1><br>
                <p>You can shop your desired product at Discounted rates.</p>
            </div>
            <div class="reason">
                <img class="rimg" src="../../assets/fastdelivery.jpg" alt="reasons">
                <h1>Fast Delivery</h1><br>
                <p>We offer quick and safe delivery of your Products.</p>
            </div>
        </div>
    </div>
</div>
