<div class="main">
	<div class="poster">
		<img class="posimg" src="../../assets/poster.jpg" alt="poster" />
	</div>

	<div class="brand">
		<h2>Brands</h2>
		<div class="blist">
			<div class="apple" routerLink="/filter/Apple">
				<img class="bimg" src="../../assets/apple.jpg" alt="apple" />
			</div>
			<div class="samsung" routerLink="/filter/Smasung">
				<img class="bimg" src="../../assets/samsung.jpg" alt="samsung" />
			</div>
			<div class="oneplus" routerLink="/filter/Oneplus">
				<img class="bimg" src="../../assets/oneplus.jpg" alt="oneplus" />
			</div>
			<div class="realme" routerLink="/filter/Realme">
				<img class="bimg" src="../../assets/realme.jpg" alt="realme" />
			</div>
			<div class="redmi" routerLink="/filter/Redmi">
				<img class="bimg" src="../../assets/redmi.jpg" alt="redmi" />
			</div>
			<div class="iqoo" routerLink="/filter/Iqoo">
				<img class="bimg" src="../../assets/iqoo.jpg" alt="iqoo" />
			</div>
		</div>
	</div>
	<div class="newarrival">
		<h2>Newest Arrival!</h2>
		<div class="grid-container">
			<div *ngFor="let product of products" class="container">
				<img class="pimg" src="{{ product.image }}" alt="product image" />
				<h3>{{ product.name }}</h3>
				<p style="color: #1dd42e">Brand : {{ product.brand }}</p>
				<p style="font-weight: bold">
					&#8377; {{ product.price.toLocaleString() }}
				</p>
				<p>
					{{ product.ram }} GB RAM | {{ product.rom }} GB Storage |
					{{ product.camera }} | {{ product.battery }} mAh Battery
				</p>
				<button class="buy" routerLink="/product/{{ product.id }}">
					Buy Now
				</button>
			</div>
		</div>
	</div>
	<div class="webinfo">
		<h2>Why Us!</h2>
		<div class="why">
			<div class="reason">
				<img class="rimg" src="../../assets/easyprocess.jpg" alt="reasons" />
				<h1>User-friendly interface</h1>
				<br />
				<p>With our simple UI you can have a pleasant shopping experience.</p>
			</div>
			<div class="reason">
				<img
					class="rimg"
					style="border: 5px solid #4c6881"
					src="../../assets/productsearch.jpg"
					alt="reasons"
				/>
				<h1>Product Searching</h1>
				<br />
				<p>You can easily search for your desired product.</p>
			</div>
			<div class="reason">
				<img
					class="rimg"
					style="border: 5px solid #1dd42e"
					src="../../assets/pricecompare.jpg"
					alt="reasons"
				/>
				<h1>Save Money</h1>
				<br />
				<p>You can shop your desired product at Discounted rates.</p>
			</div>
			<div class="reason">
				<img class="rimg" src="../../assets/fastdelivery.jpg" alt="reasons" />
				<h1>Fast Delivery</h1>
				<br />
				<p>We offer quick and safe delivery of your Products.</p>
			</div>
		</div>
	</div>
</div>
